/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 10px;
}

/* Стили для шапки */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px; /* Замените на желаемую высоту */
}

/* Стили для навигации */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для кнопок */
.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Элементы в столбец */
    align-items: center; /* Выравнивание по центру */
}

.buttons a {
    margin: 5px 0; /* Внешний отступ между кнопками */
    text-decoration: none;
}

.button {
    position: relative; /* делаем позицию относительной, чтобы ссылки были позиционированы внутри .button */
}

.button img {
    width: 250px; /* Ширина изображения */
    height: auto; /* Автоматически вычисляем высоту для сохранения пропорций */
    margin-right: 10px; /* Отступ справа от изображения */
}

.links {
    position: absolute; /* делаем позицию абсолютной, чтобы ссылки были позиционированы относительно .button */
    bottom: 0; /* позиционируем ссылки внизу .button */
    left: 0; /* позиционируем ссылки слева .button */
    width: 100%; /* устанавливаем ширину ссылок равной ширине .button */
    background-color: rgba(17, 17, 17, 0.8); /* устанавливаем цвет фона ссылок, например, черный с небольшой прозрачностью */
    padding: 5px; /* добавляем небольшие отступы вокруг ссылок */
    display: flex; /* устанавливаем отображение ссылок в виде flex, чтобы они распределялись горизонтально */
    justify-content: space-around; /* выравниваем ссылки по горизонтали */
    border-bottom-left-radius: 5px; /* скругляем левый нижний угол */
    border-bottom-right-radius: 5px; /* скругляем правый нижний угол */
}

.links a {
    color: white; /* устанавливаем цвет текста ссылок */
    text-decoration: none; /* удаляем подчеркивание ссылок */
    transition: color 0.3s ease; /* добавляем плавный переход цвета текста */
}

.links a:hover {
    color: gray; /* изменяем цвет текста при наведении */
}
