/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
}

/* Стили для шапки */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Замените на желаемую высоту */
}

/* Стили для навигации */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для кнопок */
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons a {
    margin: 0 10px;
    text-decoration: none;
}

.button {
    display: flex;
    flex-direction: column; /* Элементы в столбец */
    align-items: center; /* Выравнивание по центру */
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #eee;
    width: 300px; /* Ширина кнопки */
}

.button img {
    width: 100px; /* Ширина изображения */
    height: auto; /* Автоматически вычисляем высоту для сохранения пропорций */
    margin-bottom: 10px; /* Отступ снизу от изображения */
}
