/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 10px;
}

/* Стили для шапки */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px; /* Замените на желаемую высоту */
}

/* Стили для навигации */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для кнопок */
.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Элементы в столбец */
    align-items: center; /* Выравнивание по центру */
}

.buttons a {
    margin: 5px 0; /* Внешний отступ между кнопками */
    text-decoration: none;
}

.button {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    padding: 5px 5px;
    border: 2px solid #111;
    border-radius: 5px;
    background-color: #333;
    max-width: 800px; /* Максимальная ширина кнопки */
    color: white; /* Устанавливаем белый цвет текста */
}

.button img {
    width: 250px; /* Ширина изображения */
    height: auto; /* Автоматически вычисляем высоту для сохранения пропорций */
    margin-right: 10px; /* Отступ справа от изображения */
}
.links {
    display: flex;
}

.links a {
    margin-right: 10px; /* добавляем небольшой отступ между ссылками */
}

